/** 
 * Tags
 */

.tags {
    &__list {
        list-style-type: none;
        padding: 0;
        &-item {
            float: left;
            // border: 1px solid #EEE;
            // margin-right: 5px;
            // padding: 2px 7px;
            // border-radius: 25px;; 
            &-link {
                color: $color-base;
                &:hover,
                &:focus {
                    color: $color-primary;
                    border-bottom: 1px solid $color-primary;
                }
            }
        }
    }
}
